// Package core implements the business logic for the service.
package core

import (
	"context"
	"fmt"

	"{{joinPath .ProjectName "services" .ServiceName "api"}}"
)

type service struct {
	ctx *ServiceContext
}

var _ api.Service = (*service)(nil)

func NewServiceCore(ctx *ServiceContext) api.Service {
	return &service{ctx: ctx}
}

func (s *service) SayHello(ctx context.Context, req api.HelloRequest) (*api.HelloResponse, error) {
	greeting := fmt.Sprintf("Hello, %s %s%s", req.Friend.Name, req.Friend.Surname, s.ctx.Config.GreetingTail)
	return &api.HelloResponse{Greeting: greeting}, nil
}
