package main

import (
	logrus "github.com/sirupsen/logrus"

	"{{joinPath .ProjectName "services" "common" "std"}}"
	"{{joinPath .ProjectName "services" .ServiceName "core"}}"
)

func main() {
	cfg := core.Config{
		GreetingTail: std.RequireEnv("GREETING_TAIL"),
	}

	// todo: add database support with migration
	service := core.NewServiceCore(&core.ServiceContext{Config: &cfg})

	router := NewRouter(service)
	if err := router.Run(); err != nil {
		logrus.WithError(err).Fatal("Failed to run router")
	}
}
