package main

import (
	log "github.com/sirupsen/logrus"

	"{{joinPath .ProjectName "common" "std"}}"
	"{{joinPath .ProjectName "services" .ServiceName "core"}}"
)

func main() {
	cfg := core.Config{
		GreetingTail: std.RequireEnv("GREETING_TAIL"),
	}

	// todo: add database support with migration
	service := core.NewServiceCore(&core.ServiceContext{Config: &cfg})

	router := NewRouter(service)
	log.Infof("Starting {{.ServiceName}} service with config: %+v", cfg)
	if err := router.Run(); err != nil {
		log.WithError(err).Fatal("Failed to run router")
	}

	log.Infof("{{.ServiceName}} service stopped")
}
