package main

import (
	"net/http"

	"{{joinPath .ProjectName "services" "common" "std"}}"
	"{{joinPath .ProjectName "services" .ServiceName "api"}}"

	"github.com/gin-gonic/gin"
)

func NewRouter(service api.Service) *gin.Engine {
	gin.SetMode(gin.ReleaseMode)
	std.SetupGinValidator()
	router := gin.Default()
	router.GET("/", func(c *gin.Context) {
		c.JSON(http.StatusOK, gin.H{"status": "ok"})
	})

	v1 := router.Group("{{printf "/%s/v1" (kebab .ServiceName)}}")
	v1.POST("/hello", func(c *gin.Context) {
		var req api.HelloRequest
		if err := c.ShouldBindJSON(&req); err != nil {
			c.JSON(http.StatusBadRequest, gin.H{"error": err.Error()})
			return
		}

		resp, err := service.SayHello(c.Request.Context(), req)
		if err != nil {
			c.JSON(http.StatusInternalServerError, gin.H{"error": err.Error()})
			return
		}

		c.JSON(http.StatusOK, resp)
	})

	return router
}
